section h4 {
    color: #12343b;
    text-align: center;
    font-size: 50px !important;
    padding-bottom: 15px;
    letter-spacing: 2.5px;
}
.beforesection1 {
    padding-top: 80px;
    padding-bottom: 150px;
}
section {
    min-height: 200px;
    padding: 3% 0;
    background: none;
    opacity: .9;
    margin-left: 50px;
    margin-right: 50px;
}
.section1, .section2 {
    font-size: 18px;
}

p {
    font-family: "Quattrocento", serif;
    padding: 20px;
    line-height: 1.5em;
}
@media only screen and (min-width: 420px){



section {
    margin: 25px 100px 25px 100px;
 }   
    
}

@media only screen and (min-width: 720px) {
    div {
        display: flex;
        margin: 0;
        padding: 0;
    }
    section {
        margin: 25px 100px 25px 100px;
    }
    .beforesection1 {
        display: flex;
        flex-direction: column;
    }
    .section1 {
        width: 65%;
        margin: 20px auto 0 auto;
        border-bottom: 2px solid #12343b;
        
        
    }
    .section2 {
        width: 65%;
        margin: 20px auto 0 auto;
       
        
    }
}