section h4 {
    color: #12343b;
    text-align: center;
    font-size: 2em;
    padding-bottom: 15px;
    letter-spacing: 2.5px;
}

section {
    min-height: 200px;
    padding: 3% 0;
    margin: 25px 100px 25px 100px;
    text-align: left;
    background: none;
    opacity: .9;
}

.section1, .section2 {
    font-size: 18px;
}

p {
    font-family: "Quattrocento", serif;
    padding: 20px;
    line-height: 1.5em;
}

@media only screen and (min-width: 720px) {
    div {
        display: flex;
        margin: 0;
        padding: 0;
    }
    section {
        margin: 25px 100px 25px 100px;
    }
    .section1 {
        width: 50%;
        margin: 35px 0 0 100px;
        border-right: 2.5px solid #12343b;
        padding-right: 2%;
    }
    .section2 {
        width: 50%;
        margin: 35px 100px 0 0;
        border-left: 2.5px solid #12343b;
        padding-left: 2%;
    }
}

@media only screen and (max-width: 420px) {
    section {
        margin-left: 50px;
        margin-right: 50px;
    }
}