.accordion-container {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    
}
.accordion-button {
    height: 100px;
    font-size: 32px;
    border-radius: 4px;
    margin-bottom: 45px;
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 2.5px 0px rgba(0, 0, 0, 0.06),
  0 12.3px 7.9px rgba(0, 0, 0, 0.072),
  0 21.8px 13.4px rgba(0, 0, 0, 0.086),
  0 50px 30px rgba(0, 0, 0, 0.12)
;
    background: #687864;
    border-left:8px solid #31708e;
    color: #f7f9fb;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    transition: .5s all linear;

}
.accordion-button:hover {
    background-color: #404b3e;
}

.accordion-icon{
    color: #f7f9fb;
}

.btn-link:hover, .btn:hover {
    text-decoration: none !important;
}