
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 50px;

}

#main {
    min-width: 100%;
}
.App {
    min-width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(white, rgb(245, 238, 226))
}

.formGroup {
    display: flex;
}

.alert {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
    font-family: "Oswald", sans-serif !important;
}
#button {
    background: none;
    color: black;
    border: 2px solid black;
    font-size: 20px;
    letter-spacing: 1px;
}
#button:hover, #button:active {
    transition: .25s;
    color: #12343b;
    background: white;
    font-size: 19.5px;
    box-shadow: .1px .1px .1px #12343b
    
}
@media only screen and (min-width: 720px){
    .form {
        width: 100%;
        justify-content: center;
        align-items: center;
        
    }
    #form {
        padding-top: 10px;
        width: 500px !important;
        font-size: 20px;
        }
        .form-control {
            font-size: 18px;
        }
        textarea {
            height: 100px !important;
        }
}