footer {
    
    background: #687864;
    height: 70px;
    display: flex;
    align-items: center !important;

}
.icons {
    margin-bottom: 16px;
    margin-top: 16px;
}
footer ul {
    display: flex;
    justify-content: center;
    list-style: none;
    
}

footer ul li {
    margin-left: 30px;
    margin-right: 30px;
}

.fontawesome:hover {
    color: #8fc1e3;
    transform: translateX(5px) rotate(5deg); 
    cursor: pointer;
}

.fontawesome{
    color: white;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: linear;
    font-size: 22px;
}
