footer {
    padding-top: 2%;
    margin-top: 3%;
    border-top: 3px solid #12343b;
    background: linear-gradient(rgb(245, 238, 226), white, white, white);
    height: 90px;
    display: flex;
    align-items: center;

}
footer ul {
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
}

footer ul li {
    margin-left: 30px;
    margin-right: 30px;
}

.fontawesome:hover {
    color: #193a41;
    transform: translateX(5px) rotate(10deg); 
    cursor: pointer;
}

.fontawesome{
    color: rgb(0,0,0,0.8);
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: linear;
}
