footer {
    margin-top: 3%;
    border-top: 3px solid #12343b;
    background: linear-gradient(rgb(245, 238, 226), white, white, white);
    height: 120px;
    display: flex;
    justify-content: center;
}

footer ul {
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
}

footer ul li {
    margin-left: 30px;
    margin-right: 30px;
}

footer ul li a img:hover {
    box-shadow: .5px .5px 1.5px .5px #12343b;
    cursor: pointer;
    height: 53px;
    width: 53px;
    transition: .25s;
}

footer ul li a img {
    height: 48px;
    width: 48px;
    border-radius: 50%;
}

#contactMe {
    font-size: 1.5em;
    font-family: "Oswald", Sans-serif;
}

@media only screen and (max-width: 420px) {
    #contactMe {
        display: none;
    }
}