nav {
    padding: 1% 0;
    color: black;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: none !important;
    z-index: 10;
    border-bottom: 3px solid #12343b;
    background: linear-gradient(white, white, white, rgb(245, 238, 226));
  }
  
  nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    align-items: center;
    font-size: 1.3em
  }
  
  nav ul li {
    margin-right: 30px;
  }
  
  nav ul li a, .about, .projects, .contact {
    text-decoration: none !important;
    color: black;
    letter-spacing: .07em;
    font-size: 1em;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: linear;
  }
  
  nav ul li a:hover, .about:hover, .projects:hover, .contact:hover {
    text-decoration: none;
    color: #2d545e !important;
    cursor: pointer;
  }

  @media only screen and (min-width: 720px) {
    nav {
      display: block !important;
    }
  }
  